body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0.5)
    url(https://images.pexels.com/photos/2294361/pexels-photo-2294361.jpeg?cs=srgb&dl=pexels-li-sun-2294361.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#title {
  margin: 10px;
}

#pomodoro-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#adjust {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.container-adjust {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.title-adjust {
  font-size: 1.7rem;
  color: white;
  font-weight: 400;
  padding: 15px;
  border-radius: 50px;
}

.controls-adjust {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.adjust-button {
  background-color: transparent;
  border: none;
  color: rgb(245, 129, 62);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
}

#clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  border-radius: 500px;
  width: 300px;
  height: 300px;
  backdrop-filter: blur(5px);
}

#timer-label {
  color: white;
  font-weight: 400;
  font-size: 25px;
}

#time-left {
  color: white;
  font-size: 60px;
  font-weight: 500;
}

#controls-functions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  padding: 35px;
}

#start_stop {
  border: none;
  color: white;
  border-radius: 600px;
  padding: 10px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  text-decoration: none;
  font-size: 40px;
  cursor: pointer;
}

#reset {
  border: none;
  color: white;
  border-radius: 600px;
  padding: 10px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  text-decoration: none;
  font-size: 40px;
  cursor: pointer;
}

h1 {
  font-size: 50px;
  color: white;
}
p {
  color: white;
  font-size: 25px;
  font-weight: 500;
}

/*MEDIA QUERYS*/

@media only screen and (max-width: 600px) {
  #adjust {
    width: 250px;
  }
  body {
    background: rgba(0, 0, 0, 0.5)
      url(https://images.pexels.com/photos/3490348/pexels-photo-3490348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
  }

  #clock {
    width: 200px;
    height: 200px;
  }

  #title {
    font-size: 35px;
  }
}
